<div class="w-112 p-6">
    @if(data.campaign.getStatus() == "active") {
        <div class="flex flex-col gap-6">
            <div class="flex flex-col gap-6">
                <p class="mat-title-medium text-on-surface">Deactivate '{{ data.campaign.getName() }}' campaign?</p>
                <p class="mat-body-medium text-on-surface-variant">Are you sure you want to deactivate “{{ data.campaign.getName()}}” campaign? All coupon codes associated with this campaign will be deactivated.</p>
            </div>
            <div class="flex justify-end gap-2 mat-label-large">
                <button mat-button mat-dialog-close>Cancel</button>
                <button [disabled]="isLoading" mat-flat-button class="rounded-[100px] text-on-error" (click)="onDeactivate()" >Deactivate</button>
            </div>
        </div>
    } @else {
        <div class="flex flex-col gap-6">
            <div>
                <p class="mat-title-medium text-on-surface">Activate '{{ data.campaign.getName() }}' campaign?</p>
            </div>
            <div class="flex justify-end gap-2 mat-label-large">
                <button mat-button mat-dialog-close>Cancel</button>
                <button [disabled]="isLoading" mat-flat-button class="rounded-[100px] text-on-error" (click)="onActivate()">Activate</button>
            </div>
        </div>
    }
</div>
