::ng-deep ngx-skeleton-loader .skeleton-loader {
  background: var(--skeleton-bg);
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
