<div class="relative z-10 flex flex-col gap-8 w-full h-full min-h-[400px] min-w-[600px] fill-surface-container-lowest px-[48px] py-[16px]">
    <div class="flex flex-col gap-6">
        <div class="flex justify-between items-center">
            <div class="flex flex-col gap-2 w-full">
                <div class="w-[20%] h-[30px] bg-surface-container"></div>
                <div class="w-[10%] h-[30px] bg-surface-container"></div>
            </div>
            <div class="w-[20%] h-[80px] rounded-[8px] bg-surface-container"></div>
        </div>
        <div class="flex gap-4">
            <div class="w-[25%] h-[108px] rounded-[6px] bg-surface-container"></div>
            <div class="w-[25%] h-[108px] rounded-[6px] bg-surface-container"></div>
            <div class="w-[25%] h-[108px] rounded-[6px] bg-surface-container"></div>
            <div class="w-[25%] h-[108px] rounded-[6px] bg-surface-container"></div>
        </div>
    </div>
    <div class="flex flex-col gap-4 w-full h-full min-h-[200px]">
        <div class="w-[10%] h-[8%] bg-surface-container"></div>
        <div class="grid grid-cols-2 gap-4 w-full h-full backdrop-blur-3xl">
            <div class="w-full h-full bg-surface-container"></div>
            <div class="w-full h-full bg-surface-container"></div>
        </div>
    </div>
    <div class="absolute inset-0 z-20 backdrop-blur-[8px] flex justify-center items-center bg-surface-container-lowest/60">
        <div class="mat-body-large text-on-surface flex justify-center items-center h-full">
            <div class="flex flex-col gap-[28px]">
                <div class="flex flex-col items-center w-full">
                    <div class="scale-150 rounded-full inline-flex justify-start items-center gap-2.5 overflow-hidden bg-secondary-container p-3">
                        <mat-icon class="material-symbols-outlined text-on-surface-variant">construction</mat-icon>
                    </div>
                </div>
                <div class="mat-title-large text-on-surface">
                    Dashboard coming soon!
                </div>
            </div>
        </div>
    </div>
</div>