<div
  class="flex flex-col w-[560px]"
  [ngClass]="{
    'gap-6': members()?.length ?? 0 > 0,
    'gap-8': members()?.length ?? 0 == 0
  }"
>
  <div class="flex flex-col gap-2">
    <div class="mat-headline-small text-on-surface">Invite your team!</div>
    <div class="mat-body-large text-on-surface-variant">
      Get your team on Qpon and streamline your business together.
    </div>
  </div>

  <!-- members display card -->
  @for(member of members(); track member) {
  <mat-card appearance="outlined">
    <mat-card-content>
      <div class="p-4 flex justify-between items-center">
        <div class="flex gap-3 items-center">
          <ngx-avatars
            [name]="member.name"
            bgColor="var(--sys-primary)"
          ></ngx-avatars>
          <div class="flex flex-col gap-1">
            <div class="mat-body-large text-on-surface">{{ member.name }}</div>
            <div
              class="mat-body-medium text-on-surface-variant w-[200px] truncate"
            >
              {{ member.email }}
            </div>
          </div>
        </div>
        <div class="mat-body-large text-on-surface-variant">
          {{ member.role | titlecase }}
        </div>
        <button mat-icon-button (click)="onRemove(member)">
          <mat-icon class="text-on-surface-variant">close</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  }

  <div class="flex flex-col gap-4">
    <div class="mat-body-large text-on-surface">Add new member or select existing member</div>
    <form [formGroup]="addMemberForm" class="flex flex-col gap-6">
      <div class="flex gap-6">
        <mat-form-field appearance="outline" class="w-[391px]">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" [matAutocomplete]="auto" [matAutocompleteDisabled]="!users()?.length" />
          <mat-autocomplete #auto="matAutocomplete" >
            @for(user of users(); track user.userId) {
            <mat-option [value]="user.email">
              {{ user.email }}
            </mat-option>
            }
          </mat-autocomplete>
          @if(addMemberForm.controls['email'].hasError('email')) {
            <mat-error>Invalid email</mat-error>
          } @else {
            <mat-error>Email is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Select role</mat-label>
          <mat-select formControlName="role">
            @for (role of roles; track role) {
            <mat-option [value]="role">{{ role | titlecase }}</mat-option>
            }
          </mat-select>
          <mat-error>Role is required</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field
        appearance="outline"
        class="w-full"
        subscriptSizing="dynamic"
      >
        <mat-label>Full name</mat-label>
        <input matInput type="text" formControlName="name" />
        <mat-error>Name is required</mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="w-full"
        subscriptSizing="dynamic"
      >
        <mat-label>Set Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error>Password is required</mat-error>
      </mat-form-field>

      <button mat-stroked-button (click)="onSave()">
        <div class="text-primary flex justify-center items-center gap-2">
          <mat-icon>add</mat-icon>
          <span class="mat-label-large">Add another</span>
        </div>
      </button>
    </form>
  </div>
</div>
