<div class="h-screen fixed" >
  <div mode="side" class="!w-[272px]" disableClose>
    <div class="pt-[32px] pr-[16px] pl-[16px] pb-[24px]">
      <mat-nav-list class="cursor-pointer">
        <a
          routerLink="./dashboard"
          routerLinkActive
          #dashboard="routerLinkActive"
          [routerLinkActiveOptions]="{ exact: true }"
        >
        <mat-list-item [activated]="dashboard.isActive">
          <mat-icon
            matListItemIcon
            class="material-symbols-outlined text-on-surface"
          >
            dashboard_2
          </mat-icon>
          <div
            matListItemTitle
            class="mat-label-large"
            [ngClass]="{'font-bold': dashboard.isActive}"
          >
            Dashboard
          </div>
        </mat-list-item>
        </a>
        <a
          routerLink="./customers"
          routerLinkActive
          #customers="routerLinkActive"
          class="pt-[32px] px-[16px] pb-[24px]"
        >
          <mat-list-item [activated]="customers.isActive">
            <mat-icon
              matListItemIcon
              class="material-symbols-outlined text-on-surface"
            >
              group
            </mat-icon>
            <div
              matListItemTitle
              class="mat-label-large"
              [ngClass]="{'font-bold': customers.isActive}"
            >
              Customers
            </div>
          </mat-list-item>
        </a>
        <a
          routerLink="./items"
          routerLinkActive
          #items="routerLinkActive"
          class="pt-[32px] px-[16px] pb-[24px]"
        >
          <mat-list-item [activated]="items.isActive">
            <mat-icon
              matListItemIcon
              class="material-symbols-outlined text-on-surface"
            >
              category
            </mat-icon>
            <div
              matListItemTitle
              class="mat-label-large"
              [ngClass]="{'font-bold': items.isActive}"
            >
              Catalogue
            </div>
          </mat-list-item>
        </a>
        <a
          routerLink="./coupons"
          routerLinkActive
          #coupons="routerLinkActive"
          class="pt-[32px] px-[16px] pb-[24px]"
        >
          <mat-list-item [activated]="coupons.isActive">
            <mat-icon
              matListItemIcon
              class="material-symbols-outlined text-on-surface"
            >
              local_activity
            </mat-icon>
            <div
              matListItemTitle
              class="mat-label-large"
              [ngClass]="{'font-bold': coupons.isActive}"
            >
              Coupons
            </div>
          </mat-list-item>
        </a>
        <a
          routerLink="./reports"
          routerLinkActive
          #reports="routerLinkActive"
          class="pt-[32px] px-[16px] pb-[24px]"
        >
          <mat-list-item [activated]="reports.isActive">
            <mat-icon
              matListItemIcon
              class="material-symbols-outlined text-on-surface"
            >
              article
            </mat-icon>
            <div
              matListItemTitle
              class="mat-label-large"
              [ngClass]="{'font-bold': reports.isActive}"
            >
              Reports
            </div>
          </mat-list-item>
        </a>
      </mat-nav-list>
    </div>
  </div>
</div>
