//artifacts.quicko.org.in/repository/npm-snapshots/:_authToken=NpmToken.11b587b3-6433-3f2d-9670-9dd459430ae5
registry=https://artifacts.quicko.org.in/repository/npm-snapshots-group
//artifacts.quicko.org.in/repository/:_auth="b3JnLnF1aWNrby1vcmcucXVpY2tvLXJlYWQtYWNjZXNzOl50eDhpNnB5ajZ0Uj9tWkBdLQ=="