<div class="flex flex-col gap-6">

    <!-- HEADER -->
    <div class="flex items-center justify-between">
        <div class="mat-title-large text-on-surface">Team</div>

        <button mat-flat-button (click)="onAddClick()" class="bg-primary rounded-full text-on-primary px-6 py-2">
            <mat-icon>add</mat-icon> Add
        </button>
    </div>

    <!-- TABLE -->
    <div class="border-[1px] rounded-[5px] border-outline-variant overflow-hidden">
        <table mat-table [dataSource]="dataSource" class="w-full">

            <!-- NAME -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="p-4 mat-body-medium text-outline w-[30%]">
                    Name
                </th>
                <td mat-cell *matCellDef="let user" class="p-4 mat-body-large text-on-surface-variant w-[30%]">
                    {{ user.name }}
                </td>
            </ng-container>

            <!-- EMAIL -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class="p-4 mat-body-medium text-outline w-[20%]">
                    Email
                </th>
                <td mat-cell *matCellDef="let user" class="p-4 mat-body-large text-on-surface-variant w-[20%]">
                    {{ user.email }}
                </td>
            </ng-container>

            <!-- ROLE -->
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef class="p-4 mat-body-medium text-outline w-[15%]">Role</th>
                <td mat-cell *matCellDef="let user" class="p-4 mat-body-large text-on-surface-variant w-[15%]">
                    <span class="px-3 py-1 rounded-[4px] bg-surface-container text-sm capitalize">
                        {{ user.role }}
                    </span>
                </td>
            </ng-container>

            <!-- JOINED ON -->
            <ng-container matColumnDef="joinedOn">
                <th mat-header-cell *matHeaderCellDef class="p-4 mat-body-medium text-outline">Joined on</th>
                <td mat-cell *matCellDef="let user" class="p-4 mat-body-large text-on-surface-variant">
                    {{ user.createdAt | custom_date : "" : true }}
                </td>
            </ng-container>

            <!-- MENU -->
            <ng-container matColumnDef="menu">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let user" class="p-4 text-right">

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu"
                        class="w-[200px] min-w-[112px] max-w-[280px] rounded-[4px] bg-surface-container-lowest top-[208px] left-[3155px] font-sans">
                        <button mat-menu-item class="h-[56px] py-8 flex gap-[12px]" (click)="onEdit(user)">
                            <mat-icon class="material-symbols-outlined">edit</mat-icon>
                            <span class="mat-body-large text-on-surface">Edit details</span>
                        </button>
                        <button mat-menu-item class="h-[56px] py-8 flex gap-[12px]" (click)="onDelete(user)">
                            <mat-icon class="material-symbols-outlined">delete</mat-icon>
                            <span class="mat-body-large text-on-surface">Remove</span>
                        </button>
                    </mat-menu>

                </td>
            </ng-container>

            <!-- HEADER + ROWS -->
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>

            <!-- EMPTY STATE -->
            <tr class="empty-row" *matNoDataRow>
                <td [attr.colspan]="columns.length">
                    <div class="flex flex-col justify-center items-center h-[300px]">
                        <div class="p-6 text-center flex flex-col gap-4">
                            <div class="text-on-surface-variant flex flex-col items-center gap-y-[16px]">
                                <div
                                    class="scale-150 rounded-full inline-flex justify-start items-center gap-2.5 overflow-hidden bg-surface-container p-3">
                                    <mat-icon class="material-symbols-outlined">group</mat-icon>
                                </div>
                                <p class="text-on-surface mat-body-large">
                                    No team members to show
                                </p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        </table>
    </div>

    <!-- PAGINATION -->
    <mat-paginator [length]="usersStore.users()?.count || 0"
        [pageSize]="pagination().pageSize"
        [pageIndex]="pagination().pageIndex"
        (page)="onPageChange($event)">
    </mat-paginator>

</div>
