<div class="flex flex-col gap-10 w-[560px]">
  <div class="mat-headline-small text-on-surface">Add another customer</div>
  <div class="grid grid-cols-2 gap-4">
    @for(customer of customers(); track customer; let index = $index) {
      <mat-card appearance="outlined" class="bg-surface-container-lowest overflow-hidden !w-[272px] h-[112px]">
       <button mat-button class="px-4 py-8 flex justify-start gap-1 h-full rounded-none" (click)="editUser(customer, index)">
        <div class="flex flex-col items-start gap-1">
          <div class="mat-body-large text-on-surface">
            {{ customer.name }}
          </div>
          <div class="mat-body-medium text-on-surface-variant">
            {{ customer.email }}
          </div>
        </div>
       </button>
      </mat-card>
    }
    <mat-card>
      <mat-card-content>
        <button
          mat-button
          class="w-[272px] h-[112px] py-4 flex flex-col justify-between items-center border border-dashed border-outline-variant rounded-[5px]"
          (click)="onAddMore()"
        >
          <div class="p-2 flex justify-between items-center w-full">
            <div
              class="h-12 w-12 rounded-full bg-secondary-container flex justify-center items-center"
            >
              <mat-icon class="text-primary">add</mat-icon>
            </div>
          </div>
          <div class="mat-body-large text-on-surface">Add more</div>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
