@use 'sass:map';
@use '@angular/material' as mat;

$extended-palette-seed-colors: (
  warn: #FFC107,
  success: #4CAF50,
);

$extended-palettes: (
  warn: (
    10: #261A00,
    20: #3F2E00,
    30: #5B4300,
    40: #785900,
    80: #FABD00,
    90: #FFDF9E,
    95: #FFEFD4,
    100: #ffffff
  ),
  success: (
    10: #002204,
    20: #00390A,
    30: #005313,
    40: #006E1C,
    80: #78DC77,
    90: #B6F2AF,
    95: #C8FFC0,
    100: #ffffff
  )
);

@mixin _generate-extended-light-theme($palette-name: string) { & {
  --sys-#{$palette-name}: #{map.get(map.get($extended-palettes, $palette-name), 40)};
  --sys-on-#{$palette-name}: #{map.get(map.get($extended-palettes, $palette-name), 100)};
  --sys-#{$palette-name}-container: #{map.get(map.get($extended-palettes, $palette-name), 95)};
  --sys-on-#{$palette-name}-container: #{map.get(map.get($extended-palettes, $palette-name), 10)};
}
}

@mixin _generate-extended-dark-theme($palette-name: string) { & {
  --sys-#{$palette-name}: #{map.get(map.get($extended-palettes, $palette-name), 80)};
  --sys-on-#{$palette-name}: #{map.get(map.get($extended-palettes, $palette-name), 20)};
  --sys-#{$palette-name}-container: #{map.get(map.get($extended-palettes, $palette-name), 30)};
  --sys-on-#{$palette-name}-container: #{map.get(map.get($extended-palettes, $palette-name), 95)};
}
}

@mixin _generate-extended-light-themes($palette-names) {
  @each $palette-name in $palette-names {
    @include _generate-extended-light-theme($palette-name);
  }
}

@mixin _generate-extended-dark-themes($palette-names) {
  @each $palette-name in $palette-names {
    @include _generate-extended-dark-theme($palette-name);
  }
}

@mixin extended-light-theme {
  @each $palette-name, $seed-color in $extended-palette-seed-colors {
    @include _generate-extended-light-theme($palette-name);
  }
}

@mixin extended-dark-theme {
  @each $palette-name, $seed-color in $extended-palette-seed-colors {
    @include _generate-extended-dark-theme($palette-name);
  }
}
