@use "@angular/material" as mat;

@mixin mat-overrides {
  @include mat.expansion-overrides(
    (
      container-background-color: var(--sys-surface),
      header-hover-state-layer-color: var(--sys-surface-dim),
    )
  );

  @include mat.dialog-overrides(
    (
      container-color: var(--sys-surface-container-lowest),
      container-shape: 5px,
    )
  );

  @include mat.select-overrides(
    (
      panel-background-color: var(--sys-surface-container-lowest),
    )
  );

  @include mat.divider-overrides(
    (
      color: var(--sys-outline),
      width: 1px,
    )
  );

  @include mat.form-field-overrides(
    (
      outlined-focus-outline-color: var(--sys-outline-variant),
      outlined-outline-color: var(--sys-outline-variant),
      container-text-line-height: 16px,
    )
  );

  @include mat.menu-overrides(
    (
      divider-color: var(--sys-outline-variant),
      container-color: var(--sys-surface-container-low),
      divider-bottom-spacing: 0px,
      divider-top-spacing: 0px,
      item-spacing: 0px,
    )
  );

  @include mat.card-overrides(
    (
      elevated-container-shape: 5px,
      outlined-container-shape: 4px,
      elevated-container-elevation: var(--mat-sys-level0),
      elevated-container-color: var(--sys-surface-container-lowest),
      outlined-outline-color: var(--sys-outline-variant),
      outlined-container-color: var(--sys-on-primary),
    )
  );

  @include mat.button-overrides(
    (
      outlined-container-shape: 5px,
      filled-container-shape: 5px,
      outlined-outline-color: var(--sys-outline-variant),
    )
  );

  @include mat.tabs-overrides(
    (
      container-height: 48px,
      divider-color: var(--sys-outline-variant),
      label-text-size: 14px,
      label-text-weight: 500,
      label-text-tracking: -0.025em,
      active-label-text-color: var(--sys-on-surface),
      inactive-label-text-color: var(--sys-on-surface-variant),
    )
  );

  @include mat.snack-bar-overrides(
    (
      container-color: var(--sys-inverse-surface),
      supporting-text-color: var(--sys-inverse-on-surface),
      container-shape: 8px,
    )
  );

  @include mat.paginator-overrides(
    (
      container-background-color: var(--sys-surface-container-lowest),
    )
  );

  @include mat.table-overrides(
    (
      background-color: var(--sys-surface-container-lowest),
      row-item-outline-color: var(--sys-outline-variant),
    )
  );

  @include mat.autocomplete-overrides(
    (
      background-color: var(--sys-surface-container-lowest),
    )
  );
}

@mixin dark-theme-palette-overrides {
  & {
    --sys-surface-container-low: color-mix(
      in srgb,
      var(--sys-neutral-10) 95%,
      var(--sys-primary) 5%
    );
  }
}

@mixin typography-overrides {
  & {
    /* Display */
    --sys-display-small-tracking: 0;
    --sys-display-medium-tracking: 0;
    --sys-display-large-tracking: 0;

    /* Headline */
    --sys-headline-small-tracking: 0;
    --sys-headline-medium-tracking: 0;
    --sys-headline-large-tracking: 0;

    /* Title */
    --sys-title-small-tracking: 0;
    --sys-title-medium-tracking: 0;
    --sys-title-large-tracking: 0;

    /* Body */
    --sys-body-small-tracking: 0;
    --sys-body-medium-tracking: 0;
    --sys-body-large-tracking: 0;

    /* Label */
    --sys-label-small-tracking: 0;
    --sys-label-medium-tracking: 0;
    --sys-label-large-tracking: 0;

    --sys-title-medium: 500 1.125rem / 1.5rem "General Sans";
    --sys-title-small: 600 1rem / 1.5rem "General Sans";
  }
}

.skeleton-loader {
  background-color: var(--sys-surface-container) !important;
}

.mat-mdc-card-content {
  padding: 0px !important;
}

.list-card :hover {
  background-color: var(--sys-surface-dim) !important;
}

.mat-mdc-button {
  padding: 12px 24px !important;
}

.mat-icon {
  font-weight: 300 !important;
}

.mat-mdc-menu-panel {
  margin-top: 12px !important;
  max-width: none !important ;
}

.scroll-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-container {
  overflow-y: scroll; /* Needed to ensure scrolling works in Safari */
}

.coupon-table {
  @include mat.table-overrides(
    (
      row-item-container-height: 80px,
      header-container-height: 72px,
    )
  );
}

.campaigns-table .mat-header-cell {
  border-bottom-style: none;
}

.copy-icon-button {
  @include mat.icon-button-overrides(
    (
      icon-size: 16px,
    )
  );
}

.constraint-chip {
  @include mat.chips-overrides(
  (
    outline-width: 0
  )
  )
}