@use "sass:map";
@use "@angular/material" as mat;

$_palettes: (
  primary: (
    0: var(--sys-primary-0),
    10: var(--sys-primary-10),
    20: var(--sys-primary-20),
    25: var(--sys-primary-25),
    30: var(--sys-primary-30),
    35: var(--sys-primary-35),
    40: var(--sys-primary-40),
    50: var(--sys-primary-50),
    60: var(--sys-primary-60),
    70: var(--sys-primary-70),
    80: var(--sys-primary-80),
    90: var(--sys-primary-90),
    95: var(--sys-primary-95),
    98: var(--sys-primary-98),
    99: var(--sys-primary-99),
    100: var(--sys-primary-100)
  ),
  secondary: (
    0: var(--sys-secondary-0),
    10: var(--sys-secondary-10),
    20: var(--sys-secondary-20),
    25: var(--sys-secondary-25),
    30: var(--sys-secondary-30),
    35: var(--sys-secondary-35),
    40: var(--sys-secondary-40),
    50: var(--sys-secondary-50),
    60: var(--sys-secondary-60),
    70: var(--sys-secondary-70),
    80: var(--sys-secondary-80),
    90: var(--sys-secondary-90),
    95: var(--sys-secondary-95),
    98: var(--sys-secondary-98),
    99: var(--sys-secondary-99),
    100: var(--sys-secondary-100)
  ),
  tertiary: (
    0: var(--sys-tertiary-0),
    10: var(--sys-tertiary-10),
    20: var(--sys-tertiary-20),
    25: var(--sys-tertiary-25),
    30: var(--sys-tertiary-30),
    35: var(--sys-tertiary-35),
    40: var(--sys-tertiary-40),
    50: var(--sys-tertiary-50),
    60: var(--sys-tertiary-60),
    70: var(--sys-tertiary-70),
    80: var(--sys-tertiary-80),
    90: var(--sys-tertiary-90),
    95: var(--sys-tertiary-95),
    98: var(--sys-tertiary-98),
    99: var(--sys-tertiary-99),
    100: var(--sys-tertiary-100)
  ),
  neutral: (
    0: var(--sys-neutral-0),
    10: var(--sys-neutral-10),
    13: var(--sys-neutral-13),
    14: var(--sys-neutral-14),
    15: var(--sys-neutral-15),
    20: var(--sys-neutral-20),
    25: var(--sys-neutral-25),
    30: var(--sys-neutral-30),
    35: var(--sys-neutral-35),
    40: var(--sys-neutral-40),
    50: var(--sys-neutral-50),
    60: var(--sys-neutral-60),
    70: var(--sys-neutral-70),
    80: var(--sys-neutral-80),
    90: var(--sys-neutral-90),
    95: var(--sys-neutral-95),
    98: var(--sys-neutral-98),
    99: var(--sys-neutral-99),
    100: var(--sys-neutral-100),
    4: var(--sys-neutral-4),
    6: var(--sys-neutral-6),
    12: var(--sys-neutral-12),
    17: var(--sys-neutral-17),
    22: var(--sys-neutral-22),
    24: var(--sys-neutral-24),
    87: var(--sys-neutral-87),
    92: var(--sys-neutral-92),
    94: var(--sys-neutral-94),
    96: var(--sys-neutral-96)
  ),
  neutral-variant: (
    0: var(--sys-neutral-variant-0),
    10: var(--sys-neutral-variant-10),
    20: var(--sys-neutral-variant-20),
    25: var(--sys-neutral-variant-25),
    30: var(--sys-neutral-variant-30),
    35: var(--sys-neutral-variant-35),
    40: var(--sys-neutral-variant-40),
    50: var(--sys-neutral-variant-50),
    60: var(--sys-neutral-variant-60),
    70: var(--sys-neutral-variant-70),
    80: var(--sys-neutral-variant-80),
    90: var(--sys-neutral-variant-90),
    95: var(--sys-neutral-variant-95),
    98: var(--sys-neutral-variant-98),
    99: var(--sys-neutral-variant-99),
    100: var(--sys-neutral-variant-100)
  ),
  error: (
    0: var(--sys-error-0),
    10: var(--sys-error-10),
    20: var(--sys-error-20),
    25: var(--sys-error-25),
    30: var(--sys-error-30),
    35: var(--sys-error-35),
    40: var(--sys-error-40),
    50: var(--sys-error-50),
    60: var(--sys-error-60),
    70: var(--sys-error-70),
    80: var(--sys-error-80),
    90: var(--sys-error-90),
    95: var(--sys-error-95),
    98: var(--sys-error-98),
    99: var(--sys-error-99),
    100: var(--sys-error-100)
  )
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error)
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
      use-system-variables: true,
      system-variables-prefix: sys
    ),
    typography: (
      plain-family: "General Sans",
      brand-family: "General Sans",
      medium-weight: 500,
      regular-weight: 500,
      use-system-variables: true,
      system-variables-prefix: sys
    )
  )
);
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
      use-system-variables: true,
      system-variables-prefix: sys
    ),
    typography: (
      plain-family: "General Sans",
      brand-family: "General Sans",
      medium-weight: 500,
      regular-weight: 500,
      use-system-variables: true,
      system-variables-prefix: sys
    )
  )
);
