@import "tailwindcss";

@config '../../tailwind.config.ts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "General Sans", sans-serif;
  background-color: var(--sys-surface-container-lowest);
}

.mdc-list-item.mdc-list-item--with-one-line {
  --mdc-list-list-item-one-line-container-height: 56px;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start {
  gap: 12px !important;
}

.mat-mdc-outlined-button .mat-mdc-button-touch-target {
  width: 111px !important;
  height: 40px !important;
}

.mat-mdc-button .mat-mdc-button-touch-target {
  height: 40px !important;
}

.mat-icon-button {
  height: 18px !important;
  width: 18px !important;
  font-size: 18px !important;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.mat-drawer-inner-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.mdc-notched-outline__notch
{
  border-right: none;
}

ngx-skeleton-loader {
  margin-bottom: -4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.percentage-input-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.percentage-input-container input {
  width: 0; /* Default width for single digit '0' */
  transition: width 0.1s;
}
.percentage-symbol {
  white-space: nowrap;
}