<div class="flex flex-col gap-8 w-[560px]">
  <div class="flex flex-col gap-2">
    <div class="flex gap-1 items-center mat-label-large text-on-surface">
      <div class="max-w-[100px] truncate">
        {{ coupon()?.name }}
      </div>
      <mat-icon class="h-5 w-5 text-[20px]">navigate_next</mat-icon>
      <div class="max-w-[100px] truncate">{{ campaign()?.name }}</div>
    </div>
    <div class="mat-headline-small m-0 text-on-surface">Set redemption limit</div>
  </div>
  <form [formGroup]="createCouponCodeForm" class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">
      <mat-checkbox [formControl]="minimumAmountChecked"
        ><span class="mat-body-large text-on-surface">
          Set minimum purchase amount
        </span></mat-checkbox
      >
      <mat-form-field
        appearance="outline"
        class="w-full"
        subscriptSizing="dynamic"
      >
        <div matPrefix class="h-[40px] w-[40px] flex justify-center items-center">
                <span class="text-on-surface text-xl"
                  >{{ getCurrencySymbolOnly(organization()?.currency!) }}</span
                >
              </div>
        <input
          type="number"
          matInput
          placeholder="Enter amount"
          class="placeholder:text-outline-variant placeholder:mat-body-large"
          formControlName="minimumAmount"
        />
      </mat-form-field>
    </div>
    <div class="flex flex-col gap-4">
      <mat-checkbox
        class="mat-body-large text-on-surface"
        [formControl]="maxRedemptionsChecked"
      >
        <span class="mat-body-large text-on-surface">
          Set max redemptions
        </span>
      </mat-checkbox>
      <mat-form-field
        appearance="outline"
        class="w-full"
        subscriptSizing="dynamic"
      >
        <input
          type="number"
          matInput
          placeholder="100"
          class="placeholder:text-outline-variant"
          formControlName="maxRedemptions"
        />
      </mat-form-field>
    </div>
    <div class="flex flex-col gap-4">
      <mat-checkbox
        class="mat-body-large text-on-surface"
        [formControl]="maxRedemptionsPerCustomerChecked"
        >
        <span class="mat-body-large text-on-surface">
          Set max redemptions per customer
        </span>
        </mat-checkbox
      >
      <mat-form-field
        appearance="outline"
        class="w-full"
        subscriptSizing="dynamic"
      >
        <input
          type="number"
          matInput
          placeholder="1"
          class="placeholder:text-outline-variant"
          formControlName="maxRedemptionPerCustomer"
        />
      </mat-form-field>
    </div>
  </form>
</div>
