<div class="hover:cursor-pointer">
  <ngx-avatars
    size="40"
    [round]="true"
    [name]="user()?.name"
    bgColor="var(--sys-primary-fixed)"
    fgColor="var(--sys-on-primary-fixed-variant)"
    [mat-menu-trigger-for]="options"
  >
  </ngx-avatars>
</div>
<mat-menu
  class="w-[300px] mt-[12px] rounded-[5px]"
  #options="matMenu"
  yPosition="below"
  xPosition="before"
>
  <ng-template matMenuContent>
    <ng-container>
      <div class="flex flex-col">
        <div class="border-b pb-[20px] flex flex-col gap-[20px] border-b-outline-variant">
          <div class="w-[175px] h-auto px-[16px] pt-[16px]">
            <div class="flex flex-col gap-[4px]">
              <div class="flex gap-[8px] items-center text-on-surface">
                <p class="mat-body-large">{{ user()?.name | titlecase }}</p>
                <p
                  class="bg-surface-container mat-label-small px-[8px] py-[4px]"
                >
                  {{ role.replace("_", " ") | titlecase }}
                </p>
              </div>
              <p class="mat-body-medium text-outline">{{ user()?.email }}</p>
            </div>
          </div>
          <div class="h-[48px] px-[16px] pb-[20px]">
            <mat-button-toggle-group
              (change)="changeTheme($event)"
              (click)="$event.stopPropagation()"
              [hideSingleSelectionIndicator]="true"
              class="flex items-center rounded-full"
              appearance="standard"
              [value]="selectedThemePreference"
            >
              <!-- system preference toggle button -->
              <mat-button-toggle
                value="system"
                class="w-full items-center justify-center"
              >
                <mat-icon
                  class="material-symbols-outlined text-[20px] items-center justify-center"
                >
                  laptop_windows
                </mat-icon>
              </mat-button-toggle>
              <!-- light toggle button -->
              <mat-button-toggle
                value="light"
                class="w-full items-center justify-center"
              >
                <mat-icon
                  class="material-symbols-outlined text-[20px] items-center justify-center"
                >
                  clear_day</mat-icon
                >
              </mat-button-toggle>
              <!-- dark toggle button -->
              <mat-button-toggle
                value="dark"
                class="w-full items-center justify-center"
              >
                <mat-icon
                  class="material-symbols-outlined text-[20px] items-center justify-center"
                >
                  dark_mode
                </mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
          
        <div class="flex flex-col py-[4px] mat-body-large text-on-surface-variant">
          <div
            class="flex gap-[12px] px-[16px] py-[16px] hover:bg-neutral-10 hover:bg-opacity-[8%]"
            mat-menu-item
          >
            <mat-icon class="material-symbols-outlined mr-0">settings</mat-icon>
            <div class="cursor-pointer">
              Settings
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <div
            class="flex gap-[12px] px-[16px] py-[16px] hover:bg-neutral-10 hover:bg-opacity-[8%]"
            mat-menu-item
            (click)="logout()"
          >
            <mat-icon class="material-symbols-outlined mr-0">logout</mat-icon>
            <div class="cursor-pointer">
              Sign out
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
</mat-menu>
