<div>
  <div class="flex flex-col gap-[26px]">
    <div class="flex items-center justify-between">
      <div>
        <p class="mat-headline-medium text-on-surface w-full">
          @if (customers().length !== null && customers().length !== undefined)
          { @if (count()! > 0) { Customers {{ `(${count()!})` }}
          } @else { Customers } } @else { Customers }
        </p>
      </div>
      <div class="flex gap-[8px]">
        <button
          mat-stroked-button
          class="border-outline-variant rounded-[100px]"
        >
          <mat-icon
            class="material-symbols-outlined mat-icon-button text-primary"
            >file_download</mat-icon
          >
          <span class="mat-label-large text-primary">Import</span>
        </button>
        <button mat-flat-button class="bg-primary w-auto rounded-[100px]" (click)="onAddCustomer()">
          <mat-icon class="material-symbols-outlined text-on-primary left-[3px]"
            >add</mat-icon
          >
          <span class="mat-label-large text-on-primary">Add customer</span>
        </button>
      </div>
    </div>
    @if(!isLoading() && customers().length == 0 && !isFilterApplied) {
    <div class="flex justify-center items-center h-[600px]">
      <div class="flex flex-col items-center gap-[10px] h-auto w-auto">
        <div class="bg-surface-container rounded-[10px]">
          <mat-icon
            class="text-on-surface material-symbols-outlined !h-[64px] !w-auto !text-[64px] px-[8px]"
            >group</mat-icon
          >
        </div>
        <p class="mat-title-large text-on-surface">No customer to show</p>
        <p class="mat-body-medium text-on-surface-variant">
          You haven't added any customers yet.
        </p>
        <p class="mat-body-medium text-on-surface-variant">
          Create items or import them.
        </p>
        <div class="flex justify-center">
          <button mat-flat-button class="bg-primary w-auto rounded-[100px]" (click)="onAddCustomer()">
            <mat-icon
              class="material-symbols-outlined text-on-primary left-[3px]"
              >add</mat-icon
            >
            <span class="mat-large-font text-on-primary">Add customer</span>
          </button>
        </div>
      </div>
    </div>
    } @else {
    <div
      class="flex flex-1 items-center gap-[10px] w-full border rounded-[4px] h-[56px] border-outline-variant"
    >
      <div class="h-[48px] w-[48px] flex justify-center items-center">
        <mat-icon class="text-on-surface-variant">search</mat-icon>
      </div>
      <input
        matInput
        [formControl]="searchControl"
        class="focus:outline-none align-middle py-[4px] w-full mat-body-large text-outline"
        placeholder="Search customers"
      />
    </div>
    <div>
      <div
        class="border-[1px] rounded-[5px] border-outline-variant overflow-hidden"
      >
        @if(!isLoading()) {
        <table
          mat-table
          [dataSource]="customerDataSource"
          [ngClass]="{
            'h-[500px]': customers().length == 0 && isFilterApplied
          }"
          class="w-full table-fixed"
        >
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface w-[250px] py-3 px-6"
            >
              Name
            </th>
            <td
              mat-cell
              *matCellDef="let customer"
              class="mat-body-medium text-on-surface w-[250px] py-4 px-6"
            >
              {{ customer.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface w-[250px] py-3 px-6"
            >
              Email
            </th>
            <td
              mat-cell
              *matCellDef="let customer"
              class="mat-body-medium text-on-surface w-[250px] py-4 px-6"
            >
              {{ customer.email }}
            </td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface !w-[250px] py-3 px-6"
            >
              Phone Number
            </th>
            <td
              mat-cell
              *matCellDef="let customer"
              class="mat-body-medium text-on-surface !w-[250px] py-4 px-6"
            >
              {{ customer.phone ?? "N/A" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="menu" stickyEnd>
            <th
              mat-header-cell
              *matHeaderCellDef
              aria-label="row actions"
              class="w-[24px] py-3 px-6"
            >
              &nbsp;
            </th>
            <td mat-cell *matCellDef="let customer" class="w-[24px] py-4 px-6">
              <div class="flex justify-end">
                <button mat-icon-button>
                  <mat-icon
                    [matMenuTriggerFor]="menu"
                    class="hover:cursor-pointer"
                    >more_vert</mat-icon
                  >
                </button>
              </div>
              <mat-menu
                #menu="matMenu"
                class="w-[200px] min-w-[112px] max-w-[280px] rounded-[4px] bg-surface-container-lowest top-[208px] left-[3155px] font-sans"
              >
                <button mat-menu-item class="h-[56px] py-8 flex gap-[12px]" (click)="onEditCustomer(customer.customerId)">
                  <mat-icon class="material-symbols-outlined">edit</mat-icon>
                  <span class="mat-body-large text-on-surface">Edit</span>
                </button>
                <button mat-menu-item class="h-[56px] py-8 flex gap-[12px]">
                  <mat-icon class="material-symbols-outlined">delete</mat-icon>
                  <span class="mat-body-large text-on-surface">Delete</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns"></tr>

          <tr class="empty-row" *matNoDataRow>
            <td [attr.colspan]="columns.length">
              <div class="flex flex-col justify-center items-center h-[300px]">
                <div class="p-6 text-center flex flex-col gap-4">
                  <div
                    class="text-on-surface-variant flex flex-col items-center gap-y-[16px]"
                  >
                    <div
                      class="scale-150 rounded-full inline-flex justify-start items-center gap-2.5 overflow-hidden bg-surface-container p-3"
                    >
                      <mat-icon class="material-symbols-outlined"
                        >group</mat-icon
                      >
                    </div>
                    <p class="text-on-surface mat-body-large">
                      No customers to show
                    </p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
        } @else {
        <table
          mat-table
          [dataSource]="tempDatasource"
          class="w-full table-fixed"
        >
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface w-[250px]"
            >
              Name
            </th>
            <td
              mat-cell
              *matCellDef="let customer"
              class="mat-body-medium text-on-surface w-[250px]"
            >
              <ngx-skeleton-loader
                [theme]="{
                  height: '24px',
                  width: '100px',
                  margin: '0px',
                  padding: '0px'
                }"
              ></ngx-skeleton-loader>
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface w-[250px]"
            >
              Email
            </th>
            <td
              mat-cell
              *matCellDef="let customer"
              class="mat-body-medium text-on-surface w-[250px]"
            >
              <ngx-skeleton-loader
                [theme]="{
                  height: '24px',
                  width: '100px',
                  margin: '0px',
                  padding: '0px'
                }"
              ></ngx-skeleton-loader>
            </td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface !w-[250px]"
            >
              Phone Number
            </th>
            <td
              mat-cell
              *matCellDef="let customer"
              class="mat-body-medium text-on-surface !w-[250px]"
            >
              <ngx-skeleton-loader
                [theme]="{
                  height: '24px',
                  width: '100px',
                  margin: '0px',
                  padding: '0px'
                }"
              ></ngx-skeleton-loader>
            </td>
          </ng-container>

          <ng-container matColumnDef="menu" stickyEnd>
            <th
              mat-header-cell
              *matHeaderCellDef
              aria-label="row actions"
              class="w-[24px]"
            >
              &nbsp;
            </th>
            <td mat-cell *matCellDef="let item" class="w-[24px]">
              <div class="flex justify-end">
                <button mat-icon-button>
                  <mat-icon
                    [matMenuTriggerFor]="menu"
                    class="hover:cursor-pointer"
                    >more_vert</mat-icon
                  >
                </button>
              </div>
              <mat-menu
                #menu="matMenu"
                class="w-[200px] min-w-[112px] max-w-[280px] rounded-[4px] bg-surface-container-lowest top-[208px] left-[3155px] font-sans"
              >
                <button mat-menu-item class="h-[56px] py-8 flex gap-[12px]">
                  <mat-icon class="material-symbols-outlined">edit</mat-icon>
                  <span class="mat-body-large text-on-surface">Edit</span>
                </button>
                <button mat-menu-item class="h-[56px] py-8 flex gap-[12px]">
                  <mat-icon class="material-symbols-outlined">delete</mat-icon>
                  <span class="mat-body-large text-on-surface">Delete</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns"></tr>
        </table>
        }
      </div>
      <div>
        <mat-paginator [length]="count()" [pageSize]="take()" (page)="onPageChange($event)"></mat-paginator>
      </div>
    </div>
    }
  </div>
</div>
