<div class="h-screen flex flex-col overflow-hidden">
  <app-header></app-header>

  <div class="flex-1 flex items-center justify-center">
    <div
      class="flex flex-col justify-center gap-[40px] w-[560px] h-auto p-6 rounded-lg"
    >
      <p
        class="font-sans font-medium text-[24px] leading-[32px] tracking-[0px]"
      >
        Edit Item
      </p>
      <form [formGroup]="editItemForm" class="w-full gap-[48px]">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Test</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        <div>
            <label class="block mb-2 font-medium">Name</label>
            <input type="text" class="w-full border rounded p-2" />
          </div>
          <div>
            <label class="block mb-2 font-medium">Name</label>
            <input type="text" class="w-full border rounded p-2" />
          </div>
        </div>
        <div>metadata</div>
      </form>
    </div>
  </div>

  <div class="flex justify-between px-[32px] py-[16px]">
    <button mat-stroked-button class="!h-[40px]">Back</button>
    <button mat-button class="!h-[40px]">Save</button>
  </div>
</div>
