<div class="flex justify-center items-center pt-[32px] pb-[32px]">
  <div class="w-[560px]">
    <div class="pt-[295px]">
      <p class="mat-headline-small text-on-surface">
        Welcome back! You look good today
      </p>
      <div class="pt-[32px] flex flex-col gap-[12px]">
        <p class="mat-body-medium text-on-surface-variant">
          Organisations you’re in
        </p>
        <mat-list
          class="border border-outline-variant rounded-[5px] py-[8px] divide-y divide-outline-variant px-[24px]"
        >
          <mat-list-item
            class="px-[3px] pl-[10px] pr-[10px]"
            *ngFor="let organization of organizations(); let last = last"
          >
            <div class="flex items-center justify-between w-full hover:cursor-pointer" (click)="onClick(organization.organizationId!)">
              <div class="flex flex-col justify-between gap-[4px]">
                <span class="mat-body-large text-on-surface">
                  {{ organization.name }}
                </span>
                <span class="mat-body-small text-on-surface-variant">
                  You are the {{ organization.role?.replace("_", " ") }}
                </span>
              </div>
              <mat-icon class="material-symbols-outlined"
                >chevron_right</mat-icon>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
