<div class="min-h-screen flex flex-col overflow-hidden">
  <div class="flex flex-col fixed top-0 w-full bg-surface-container-lowest z-40">
    <div class="flex justify-between items-center px-8 py-4">
      <div class="text-on-surface mat-title-large w-full">
        {{ organization()?.name }}
      </div>
      <button mat-stroked-button class="rounded-full" (click)="onExit()">
        Exit
      </button>
    </div>
    <mat-divider class="border-outline-variant"></mat-divider>
  </div>
  <div class="flex-grow pt-[80px] pb-[120px] overflow-y-auto flex flex-col items-center justify-center">
    <div class="flex flex-col gap-[48px] w-[560px]">
      <div class="flex flex-col gap-10">
        <div class="mat-headline-small m-0 text-on-surface">Edit item</div>
        <form [formGroup]="updateItemForm" class="flex flex-col gap-[32px]">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Item name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>External Id</mat-label>
            <input matInput formControlName="externalId" />
          </mat-form-field>
        </form>
      </div>
      <div class="flex flex-col gap-6">
        <div class="flex justify-between items-center">
          <div class="mat-body-large text-on-surface">Meta data</div>
          <button
            mat-stroked-button
            class="rounded-full text-primary"
            type="button"
            (click)="addCustomField()"
          >
            Add
          </button>
        </div>

        <div class="flex flex-col gap-2">
          <div
            *ngFor="let field of customFields.controls; let i = index"
            class="flex gap-4 justify-between items-start"
            [formGroup]="field"
          >
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Key</mat-label>
              <input matInput formControlName="key" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Value</mat-label>
              <input matInput formControlName="value" />
            </mat-form-field>
            <div class="relative top-2">
              <button
                mat-icon-button
                color="warn"
                type="button"
                (click)="removeCustomField(i)"
              >
                <mat-icon class="material-symbols-outlined">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col bg-surface-container-lowest z-10 fixed bottom-0 w-full"
  >
    <div class="flex justify-end items-center px-8 py-4">
      <button mat-flat-button class="rounded-full" (click)="onSave()">Save</button>
    </div>
  </div>
</div>
