<div class="flex flex-col gap-8">
  <div class="flex flex-col gap-2">
    <div class="flex gap-1 items-center mat-label-medium text-on-surface">
      <div>
        {{ coupon()?.name }}
      </div>
      <mat-icon class="h-5 w-5 text-[20px]">navigate_next</mat-icon>
      <div>{{ campaign()?.name }}</div>
    </div>
    <div class="flex flex-col gap-1 text-on-surface">
      <div class="meat-headline-small">Craft your coupon code</div>
      <div class="mat-body-large">
        Enter code that your customers can easily remember
      </div>
    </div>
  </div>
  <form [formGroup]="createCouponCodeForm" class="flex flex-col gap-8">
    <div class="flex flex-col gap-6">
      <mat-form-field appearance="outline">
        <mat-label>Code</mat-label>
        <div class="flex justify-between items-center">
          <input matInput type="text" formControlName="code" />
          <button
            class="hover:cursor-pointer"
            (click)="$event.stopPropagation()"
          >
            <div class="flex items-center gap-1">
              <mat-icon
                svgIcon="autofill"
                class="h-4 w-4 text-[16px]"
              ></mat-icon>
              <span class="mat-label-large text-primary">generate</span>
            </div>
          </button>
        </div>
        @if(createCouponCodeForm.get('code')?.hasError('required')) {
          <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" />
      </mat-form-field>
    </div>
    <mat-radio-group class="flex gap-4" formControlName="visibility">
      <mat-radio-button
        matInput
        value="public"
        class="cursor-pointer justify-between border rounded-[5px] border-outline-variant hide-radio-button"
        (click)="visibility = 'public'"
        [ngClass]="{
          'text-primary bg-secondary-container border-primary border-[2px] ':
            visibility == 'public',
          'hover:bg-surface-dim': visibility != 'public'
        }"
      >
        <div
          class="flex cursor-pointer flex-col w-[226px] gap-[12px] text-on-surface mat-body-large p-[16px]"
          [ngClass]="{ 'text-on-surface-variant': visibility != 'public' }"
        >
          <mat-icon
            class="material-symbols-outlined h-[24px] w-[24px] text-[24px]"
            [ngClass]="{
              'text-primary': visibility == 'public'
            }"
          >
            public
          </mat-icon>

          <div class="flex flex-col gap-1">
            <div class="mat-body-large">Public</div>
            <div class="mat-body-medium text-on-surface-variant">
              Coupon code will be visible to everyone
            </div>
          </div>
        </div>
      </mat-radio-button>
      <mat-radio-button
        matInput
        value="private"
        class="cursor-pointer justify-between border rounded-[5px] border-outline-variant hide-radio-button"
        (click)="visibility = 'private'"
        [ngClass]="{
          'text-primary bg-secondary-container border-primary border-[2px] ':
            visibility == 'private',
          'hover:bg-surface-dim': visibility != 'private'
        }"
      >
        <div
          class="flex cursor-pointer flex-col w-[226px] gap-[12px] text-on-surface mat-body-large p-[16px]"
          [ngClass]="{ 'text-on-surface-variant': visibility != 'private' }"
        >
          <mat-icon
            class="material-symbols-outlined h-[24px] w-[24px] text-[24px]"
            [ngClass]="{
              'text-primary': visibility == 'private'
            }"
          >
            lock
          </mat-icon>

          <div class="flex flex-col gap-1">
            <div class="mat-body-large">Private</div>
            <div class="mat-body-medium text-on-surface-variant">
              Only people with coupon code will be able to redeem
            </div>
          </div>
        </div>
      </mat-radio-button>
    </mat-radio-group>
    <mat-radio-group class="flex gap-4" formControlName="durationType">
      <mat-radio-button
        matInput
        value="forever"
        class="cursor-pointer justify-between border rounded-[5px] border-outline-variant hide-radio-button"
        (click)="validity = 'forever'"
        [ngClass]="{
          'text-primary bg-secondary-container border-primary border-[2px] ':
            validity == 'forever',
          'hover:bg-surface-dim': validity != 'forever'
        }"
      >
        <div
          class="flex cursor-pointer flex-col w-[226px] gap-[12px] text-on-surface mat-body-large p-[16px]"
          [ngClass]="{ 'text-on-surface-variant': validity != 'forever' }"
        >
          <mat-icon
            class="material-symbols-outlined h-[24px] w-[24px] text-[24px]"
            [ngClass]="{
              'text-primary': validity == 'forever'
            }"
          >
            autorenew
          </mat-icon>

          <div class="flex flex-col gap-1">
            <div class="mat-body-large">Forever</div>
            <div class="mat-body-medium text-on-surface-variant">
              No expiry date. Valid forever.
            </div>
          </div>
        </div>
      </mat-radio-button>
      <mat-radio-button
        matInput
        value="limited"
        class="cursor-pointer justify-between border rounded-[5px] border-outline-variant hide-radio-button"
        (click)="validity = 'limited'"
        [ngClass]="{
          'text-primary bg-secondary-container border-primary border-[2px] ':
            validity == 'limited',
          'hover:bg-surface-dim': validity != 'limited'
        }"
      >
        <div
          class="flex cursor-pointer flex-col w-[226px] gap-[12px] text-on-surface mat-body-large p-[16px]"
          [ngClass]="{ 'text-on-surface-variant': validity != 'limited' }"
        >
          <mat-icon
            class="material-symbols-outlined h-[24px] w-[24px] text-[24px]"
            [ngClass]="{
              'text-primary': validity == 'limited'
            }"
          >
            hourglass_top
          </mat-icon>

          <div class="flex flex-col gap-1">
            <div class="mat-body-large">Limited</div>
            <div class="mat-body-medium text-on-surface-variant">
              Valid till certain expiry date.
            </div>
          </div>
        </div>
      </mat-radio-button>
    </mat-radio-group>

    @if(validity == 'limited') {
    <div class="flex flex-col gap-4 pb-14">
      <div class="mat-body-large text-on-surface">Add expiration date</div>
      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="expiresAt"
          (click)="$event.stopPropagation(); picker.open()"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon class="material-symbols-outlined" matDatepickerToggleIcon
          >calendar_month</mat-icon
          >
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
       
        @if(showValidationError()){
          <mat-error>{{ errorMessage() }}</mat-error>
        }
      </mat-form-field>
    </div>
    }
  </form>
</div>
