<div>
  <div class="flex flex-col gap-[26px]">
    <div class="flex items-center justify-between">
      <div>
        <p class="mat-headline-medium text-on-surface w-full">
          @if (count() !== null && count() !== undefined) { @if (count()! > 0) {
          Coupons {{ `(${count()!})` }}
          }@else {Coupons}} @else { Coupons }
        </p>
      </div>
      <div class="flex gap-[8px]">
        <button mat-button class="bg-primary w-auto text-on-primary">
          <mat-icon class="material-symbols-outlined left-[3px] !text-on-primary">add</mat-icon>
          <span class="mat-label-large">Add Coupon</span>
        </button>
      </div>
    </div>
    @if( couponsStore.coupons() && couponsStore.coupons().length == 0) {
    <div class="flex justify-center items-center h-[600px]">
      <div class="flex flex-col items-center gap-[10px] h-auto w-auto">
        <div class="bg-surface-container rounded-[10px]">
          <mat-icon
            class="text-on-surface material-symbols-outlined !h-[64px] !w-auto !text-[64px] px-[8px]"
            >local_activity</mat-icon
          >
        </div>
        <p class="mat-title-large text-on-surface">No items to show</p>
        <p class="mat-body-medium text-on-surface-variant">
          You haven't created any coupons yet.
        </p>
        <p class="mat-body-medium text-on-surface-variant">Create coupons.</p>
        <div class="flex justify-center">
          <button mat-button class="bg-primary w-auto">
            <mat-icon
              class="material-symbols-outlined text-on-primary left-[3px]"
              >add</mat-icon
            >
            <span
              class="mat-label-large text-center text-on-primary"
              >Add Coupon</span
            >
          </button>
        </div>
      </div>
    </div>
    } @else {
    <div
      class="flex items-center gap-[10px] w-full border rounded-[4px] h-[56px] border-outline-variant"
    >
      <div class="h-[48px] w-[48px] flex justify-center items-center">
        <mat-icon class="text-on-surface-variant">search</mat-icon>
      </div>
      <input
        matInput
        [formControl]="searchControl"
        class="focus:outline-none align-middle py-[4px] w-full mat-body-large text-outline"
        placeholder="Search coupons"
      />
      <div class="h-[48px] w-[48px] flex justify-center items-center cursor-pointer" [matMenuTriggerFor]="filterMenu">
        <mat-icon class="text-on-surface-variant">tune</mat-icon>
      </div>
    </div>
    <mat-menu #filterMenu="matMenu" class="w-[400px] relative top-[-20px] bg-surface-container-lowest">
      <form [formGroup]="filterForm">
        <div class="py-2 px-4">
          <p class="mat-body-large text-on-surface">Coupon status</p>
          <mat-radio-group formControlName="couponStatus" class="flex gap-[24px]" (click)="preventClose($event)">
            <mat-radio-button value="active">Active</mat-radio-button>
            <mat-radio-button value="inactive">Inactive</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="py-2 px-4">
          <p class="mat-body-large text-on-surface">Items</p>
          <mat-radio-group formControlName="itemConstraint" class="flex gap-[24px]" (click)="preventClose($event)">
            <mat-radio-button value="all">All</mat-radio-button>
            <mat-radio-button value="specific">Specific</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="py-2 px-4">
          <p class="mat-body-large text-on-surface">Discount type</p>
          <mat-radio-group formControlName="discountType" class="flex gap-[24px]" (click)="preventClose($event)">
            <mat-radio-button value="percentage">Percentage</mat-radio-button>
            <mat-radio-button value="fixed">Fixed</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-divider class="bg-outline-variant border border-outline-variant"></mat-divider>
        <div class="flex justify-end gap-2 mat-label-large p-4">
          <button mat-stroked-button class="rounded-[100px]" (click)="resetForm()">Cancel</button>
          <button mat-button class="bg-primary text-on-primary" (click)="applyFilters()">Apply</button>
        </div>
      </form>
    </mat-menu>
    <div>
      <div class="border-outline-variant border-[1px] rounded-[5px]">
        <table mat-table [dataSource]="coupons()" class="coupon-table" matSort [matSortActive]="'createdAt'" [matSortDirection]="'desc'" matSortDisableClear="true" [ngClass]="{'h-[500px]': coupons().length == 0}">
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface px-6 py-3"
            >
              Name
            </th>
            <td
              mat-cell
              *matCellDef="let coupon"
              class="mat-body-large text-on-surface px-6 py-4"
            >
              {{ coupon.name }}
            </td>
          </ng-container>

          <ng-container matColumnDef="discount">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface px-6 py-3"
            >
              Discount
            </th>
            <td
              mat-cell
              *matCellDef="let coupon"
              class="mat-body-large text-on-surface px-6 py-4"
            >
            {{ 
              coupon.discountType == 'fixed' ?
              coupon.discountUpto ? 
                `${coupon.discountValue | currency: organization()?.currency : 'symbol'} upto ${coupon.discountUpto | currency: organization()?.currency : 'symbol'}` 
                : `${coupon.discountValue | currency: organization()?.currency : 'symbol'}`
              :
              coupon.discountUpto ? 
                `${coupon.discountValue}% upto ${coupon.discountUpto | currency: organization()?.currency : 'symbol'}` 
                : `${coupon.discountValue}%`
            }}
            </td>
          </ng-container>

          <ng-container matColumnDef="applicable_on">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface px-6 py-3"
            >
              Applicable on
            </th>
            <td
              mat-cell
              *matCellDef="let coupon"
              class="mat-body-large text-on-surface px-6 py-4"
            >
              {{
                coupon.itemConstraint == "all"
                  ? "All products"
                  : "Specific products"
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="mat-body-medium text-on-surface px-6 py-3"
            >
              Status
            </th>
            <td
              mat-cell
              *matCellDef="let coupon"
              class="px-6 py-4 text-on-surface"
              [ngClass]="{'text-outline': coupon.status == 'inactive'}"
            >
              <span class="bg-surface-container rounded-sm mat-label-small px-2 py-1">{{ coupon.status | titlecase }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="mat-body-medium text-on-surface px-6 py-3 w-[250px] cursor-pointer"
            >
            <div class="flex items-center">
              <span>Created at</span>
              <!-- <mat-icon class="w-[18px] h-[18px] text-[18px] top-[1px] left-[76px]">arrow_downward</mat-icon> -->
            </div>  
            </th>
            <td
              mat-cell
              *matCellDef="let coupon"
              class="mat-body-large text-on-surface px-6 py-4"
            >
              {{ coupon.createdAt | date }}
            </td>
          </ng-container>

          <ng-container matColumnDef="menu">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">
              &nbsp;
            </th>
            <td mat-cell *matCellDef="let coupon">
              <div>
                <mat-icon
                  [matMenuTriggerFor]="menu"
                  class="hover:cursor-pointer"
                  >more_vert</mat-icon
                >
              </div>
              <mat-menu
                #menu="matMenu"
                class="w-[200px] min-w-[112px] max-w-[280px] rounded-[4px] bg-surface-container-lowest top-[208px] left-[3155px]"
              >
                <button mat-menu-item class="h-[56px] py-8 flex gap-[12px]">
                  <mat-icon class="material-symbols-outlined">edit</mat-icon>
                  <span class="mat-body-large text-on-surface">Edit</span>
                </button>
                <button mat-menu-item class="h-[56px] py-8 flex gap-[12px]" (click)="openDialog(coupon)">
                  <mat-icon svgIcon="regime_preference" class="w-6 h-6 text-on-surface"></mat-icon>
                  <span class="mat-body-large text-on-surface">Change status</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns" class="hover:bg-surface-bright cursor-pointer" (click)="onRowClick(row)"></tr>
          <tr class="empty-row" *matNoDataRow>
            <td [attr.colspan]="columns.length">
              <div class="flex flex-col justify-center items-center h-[300px]">
                <div class="p-6 text-center">
                  <div class="text-on-surface-variant flex flex-col items-center">
                    <!-- <div class="bg-surface-container rounded-full h-[72px] w-[72px] flex items-center justify-center p-3">
                      <mat-icon class="material-symbols-outlined text-[48px]">local_activity</mat-icon>
                    </div> -->
                    <p class="text-lg font-medium">No coupons to show</p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div>
        <mat-paginator [length]="count()" [pageSize]="take()" (page)="onPageChange($event)"></mat-paginator>
      </div>
    </div>
    }
  </div>
</div>
