<div class="min-h-screen flex flex-col overflow-hidden">
  <div class="flex flex-col fixed top-0 w-full">
    <div class="flex justify-between items-center px-8 py-4">
      <div class="text-on-surface mat-title-large w-full">
        {{ organization()?.name }}
      </div>
      <button mat-stroked-button class="rounded-full" (click)="onExit()">
        Exit
      </button>
    </div>
    <mat-divider class="border-outline-variant"></mat-divider>
  </div>
  <div class="flex-grow pt-[80px] pb-[120px] overflow-y-auto flex flex-col items-center justify-center">
    <div class="w-full max-w-[560px] px-4">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div
    class="flex flex-col bg-surface-container-lowest z-10 fixed bottom-0 w-full"
  >
    <div class="w-full flex space-x-[8px] justify-between" [hidden]="redirectUri">
      <div class="flex-1">
        <app-progress-bar
          [animate]="true"
          [fillPercentage]="getFillPercentage()"
        ></app-progress-bar>
      </div>
    </div>
    @if(hideBackButton()) {
      <div class="flex justify-end items-center px-8 py-4">
        <button mat-flat-button (click)="onNext()" class="rounded-full">
          {{ getButtonText() }}
        </button>
      </div>  
    } @else {
      <div class="flex justify-between items-center px-8 py-4">
        <button mat-stroked-button class="rounded-full" (click)="onBack()">
          Back
        </button>
        <button mat-flat-button (click)="onNext()" [disabled]="isLoading()" class="rounded-full">
          {{ getButtonText() }}
        </button>
      </div>
    }
  </div>
</div>
