
<div class="grid grid-cols-4 gap-3">
  <mat-card appearance="outlined" class="p-6 bg-surface-container-lowest">
    <mat-card-content>
      <p class="mat-body-medium text-on-surface-variant">Total Budget</p>
      @if(isLoading()) {
        <ngx-skeleton-loader [theme]="{
            height: '24px',
            width: '200px',
            margin: '0px',
            padding: '0px'
          }"></ngx-skeleton-loader>
      } @else {
        <p class="mat-title-large text-on-surface">{{ campaign()?.getBudget()! > 0 ? (campaign()?.getBudget()! | currency: organization()?.currency : 'symbol') : "Unlimited"  }}</p>
      }
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined" class="p-6 bg-surface-container-lowest">
    <mat-card-content>
        <p class="mat-body-medium text-on-surface-variant">Active Coupon Codes</p>
        @if(isLoading()) {
            <ngx-skeleton-loader [theme]="{
                height: '24px',
                width: '200px',
                margin: '0px',
                padding: '0px'
              }"></ngx-skeleton-loader>
          } @else {
            <p class="mat-title-large text-on-surface">{{ campaign()?.getActiveCouponCodeCount() }}</p>
          }
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined" class="p-6 bg-surface-container-lowest">
    <mat-card-content>
        <p class="mat-body-medium text-on-surface-variant">Total redemptions</p>
        @if(isLoading()) {
            <ngx-skeleton-loader [theme]="{
                height: '24px',
                width: '200px',
                margin: '0px',
                padding: '0px'
              }"></ngx-skeleton-loader>
          } @else {
            <p class="mat-title-large text-on-surface">{{ campaign()?.getTotalRedemptionCount()}}</p>
          }
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined" class="p-6 bg-surface-container-lowest">
    <mat-card-content>
        <p class="mat-body-medium text-on-surface-variant">Total discount</p>
        @if(isLoading()) {
            <ngx-skeleton-loader [theme]="{
                height: '24px',
                width: '200px',
                margin: '0px',
                padding: '0px'
              }"></ngx-skeleton-loader>
          } @else {
            <p class="mat-title-large text-on-surface">{{ campaign()?.getTotalRedemptionAmount()! > 0 ? (campaign()?.getTotalRedemptionAmount() | currency: organization()?.currency : 'symbol') : 0  }}</p>
          }
    </mat-card-content>
  </mat-card>
</div>
