<div class="grid grid-cols-2 w-full h-full">
  <div class="bg-primary">
    <div
      class="flex flex-col justify-center pt-[120px] px-[64px] pb-[48px] h-[838px]"
    >
      <p class="mat-display-medium text-surface">Grow with discounts</p>
      <p
        class="mat-title-large text-surface"
      >
        All your coupons in one place
      </p>
    </div>
    <div class="px-[64px] pb-[48px]">
      <p class="mat-body-large text-surface-container-high">
        Discounted by <span class="text-surface-container-low">Qpon</span>
      </p>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center min-h-screen">
    <div class="w-[400px] flex flex-col gap-[72px]">
        <div class="flex flex-col gap-2">
            <div class="mat-headline-medium text-on-surface text-center m-0">
              Create a super admin account
            </div>
            <div class="mat-body-large text-on-surface-variant text-center">
                Please choose a username and password for your Super Admin account.
            </div>
        </div>
      <div class="flex flex-col gap-[48px]">
        <form [formGroup]="createSuperAdminForm" class="flex flex-col gap-[32px]">
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Name</mat-label>
            <input
              matInput
              type="text"
              ng-trim="true"
              formControlName="name"
            />
            <mat-error>Name is required</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              ng-trim="true"
              formControlName="email"
            />
            @if(createSuperAdminForm.get('email')?.hasError('required')) {
              <mat-error>Email is required</mat-error>
            } @else if(createSuperAdminForm.get('email')?.hasError('email')) {
              <mat-error>Invalid email</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline" class="h-[56px] rounded-[4px]" subscriptSizing="dynamic">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
              required
            />
            <button
            type="button"
              mat-icon-button
              matSuffix
              (click)="hidePassword = !hidePassword"
              (keydown)="$event.stopPropagation()"
            >
              <mat-icon class="material-symbols-outlined text-on-surface">{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-error>Password is required</mat-error>
          </mat-form-field>
        </form>
        <button
        type="submit"
          mat-flat-button
          class="text-on-primary mat-large-font rounded-full"
          (click)="onCreateSuperAdmin()"
        >
          Sign up
        </button>
      </div>
    </div>
  </div>
</div>
