<div class="flex flex-col gap-8">
  <div class="flex flex-col gap-4">
    <div class="flex mat-body-medium gap-[4px] text-on-surface">
      <div class="cursor-pointer" (click)="onNavigateParent()">Coupons</div>
      <mat-icon>
        <div
          class="material-symbols-outlined"
          class="w-[21px] h-[21px] text-[21px]"
        >
          navigate_next
        </div>
      </mat-icon>
      <div class="cursor-pointer" (click)="onNavigateChild()">
        @if(!isLoading()) {
        {{ coupon()?.name }}
        } @else {
        <ngx-skeleton-loader
          [theme]="{
            height: '20px',
            width: '100px',
            margin: '0px',
            padding: '0px'
          }"
        ></ngx-skeleton-loader>
        }
      </div>
      <mat-icon>
        <div
          class="material-symbols-outlined"
          class="w-[21px] h-[21px] text-[21px]"
        >
          navigate_next
        </div>
      </mat-icon>
      <div class="cursor-pointer" (click)="onNavigateChild()">
        @if(!isLoading()) {
        {{ campaign()?.getName() }}
        } @else {
        <ngx-skeleton-loader
          [theme]="{
            height: '20px',
            width: '100px',
            margin: '0px',
            padding: '0px'
          }"
        ></ngx-skeleton-loader>
        }
      </div>
      <mat-icon>
        <div
          class="material-symbols-outlined"
          class="w-[21px] h-[21px] text-[21px]"
        >
          navigate_next
        </div>
      </mat-icon>
      <div class="cursor-pointer">
        @if(!loading()) {
        {{ couponCode()?.code }}
        } @else {
        <ngx-skeleton-loader
          [theme]="{
            height: '20px',
            width: '100px',
            margin: '0px',
            padding: '0px'
          }"
        ></ngx-skeleton-loader>
        }
      </div>
    </div>
    <div class="flex justify-between items-center">
      <div class="flex flex-col gap-2">
        <div class="flex gap-1">
          @if(!loading()) {
          <p class="mat-headline-small text-on-surface">
            {{ couponCode()?.code }}
          </p>
          <button
            class="text-on-surface hover:text-primary group-hover:block transition-opacity cursor-pointer"
            (click)="
              $event.stopPropagation();
              copyToClipboard(couponCode()?.code!, 'coupon code')
            "
          >
            <mat-icon class="material-symbols-outlined text-[16px] w-[16px]">
              content_copy
            </mat-icon>
          </button>
          } @else {
          <ngx-skeleton-loader
            [theme]="{
              height: '24px',
              width: '150px',
              margin: '0px',
              padding: '0px'
            }"
          ></ngx-skeleton-loader>
          }
        </div>
        <div class="w-[728px]">
          @if(!loading()) {
          <p class="mat-body-large text-on-surface truncate">
            {{ couponCode()?.description ?? "-" }}
          </p>
          } @else {
          <ngx-skeleton-loader
            [theme]="{
              height: '24px',
              width: '150px',
              margin: '0px',
              padding: '0px'
            }"
          ></ngx-skeleton-loader>
          }
        </div>
      </div>
      <div class="flex items-center gap-0.5">
        <button
          mat-stroked-button
          class="rounded-full text-primary mat-label-large"
          (click)="onEdit()"
        >
          <mat-icon class="material-symbols-outline">edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-icon-button [mat-menu-trigger-for]="menu">
          <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
        </button>
      </div>
    </div>
    <div class="inline-flex justify-start items-start gap-8">
      <div class="flex justify-start items-center gap-2">
        @if(loading()) {
        <ngx-skeleton-loader
          [theme]="{
            height: '20px',
            width: '500px',
            margin: '0px',
            padding: '0px'
          }"
        ></ngx-skeleton-loader>
        } @else {
        <div class="relative flex justify-start items-center gap-2.5">
          <div
            class="w-6 h-6 rounded-[12px] flex items-center justify-center"
            [ngClass]="{
              'bg-success-container': couponCode()?.status == 'active',
              'bg-surface-container-highest': couponCode()?.status == 'inactive'
            }"
          >
            <div
              class="w-3 h-3 rounded-[6px]"
              [ngClass]="{
                'bg-success': couponCode()?.status == 'active',
                'bg-outline': couponCode()?.status == 'inactive'
              }"
            ></div>
          </div>
        </div>
        <div class="justify-start mat-body-large text-on-surface-variant">
          {{ couponCode()?.status | titlecase }}
        </div>
        }
      </div>
      <div
        class="flex justify-start items-center gap-2 text-on-surface-variant"
      >
        @if(loading()) {
        <ngx-skeleton-loader
          [theme]="{
            height: '20px',
            width: '150px',
            margin: '0px',
            padding: '0px'
          }"
        ></ngx-skeleton-loader>
        } @else {
        <div
          data-size="20 px"
          class="flex justify-start items-start gap-1.5 text-on-surface-variant"
        >
          <mat-icon class="material-symbols-outlined w-5 h-5 text-[20px]"
            >barcode_scanner</mat-icon
          >
        </div>
        <div class="justify-start mat-body-large">Coupon code</div>
        }
      </div>
      <div
        class="flex justify-start items-center gap-2 text-on-surface-variant"
      >
        @if(loading()) {
        <ngx-skeleton-loader
          [theme]="{
            height: '20px',
            width: '150px',
            margin: '0px',
            padding: '0px'
          }"
        ></ngx-skeleton-loader>
        } @else {
        <div data-size="20 px" class="flex justify-start items-start gap-1.5">
          <mat-icon class="material-symbols-outlined w-5 h-5 text-[20px]"
            >edit_square</mat-icon
          >
        </div>
        <div class="justify-start mat-body-large">
          Created on
          {{ campaign()?.getCreatedAt()! | custom_date }}
        </div>
        }
      </div>
    </div>
  </div>
  <app-coupon-code-details
    [couponCode]="couponCode"
    [isLoading]="isLoading"
  ></app-coupon-code-details>
  <app-redemption-list></app-redemption-list>
</div>
<mat-menu
  #menu="matMenu"
  class="w-[200px] min-w-[112px] max-w-[280px] rounded-[4px] bg-surface-container-lowest top-[208px] left-[3155px]"
>
  <button mat-menu-item class="h-[56px] py-8 flex gap-[12px]" (click)="openDeleteDialog()">
    <mat-icon class="material-symbols-outlined">delete</mat-icon>
    <span class="mat-body-large text-on-surface">Delete</span>
  </button>
</mat-menu>
