<div class="w-[560px]">
  <div class="flex flex-col gap-10">
    <div class="mat-headline-small text-on-surface">Add another item</div>
    <div class="grid grid-cols-2 gap-4 w-full">
      @for(item of items(); track item; let index = $index) {
      <mat-card
        appearance="outlined"
        class="bg-surface-container-lowest overflow-hidden max-h-[112px]"
      >
        <button
          mat-button
          class="w-full h-full flex justify-start items-start rounded-none px-4 py-8 text-left"
          (click)="onEditItem(item, index)"
        >
          <div class="flex flex-col gap-1 w-full max-w-[224px]">
            <div class="mat-body-large text-on-surface truncate w-full">
              {{ item.name }}
            </div>
            <div
              class="mat-body-medium text-on-surface-variant w-full truncate"
            >
              {{ item.description?.length! > 0 ? item.description : "-"  }}
            </div>
          </div>
        </button>
      </mat-card>

      }
      <mat-card class="bg-surface-container-lowest overflow-hidden">
        <mat-card-content>
          <button
            mat-button
            class="w-[256px] h-auto py-3 flex flex-col justify-between items-center border border-dashed border-outline-variant rounded-[5px]"
            (click)="onAddMore()"
          >
            <div class="p-2 flex justify-between items-center w-full">
              <div
                class="h-12 w-12 rounded-full bg-secondary-container flex justify-center items-center"
              >
                <mat-icon class="text-primary">add</mat-icon>
              </div>
            </div>
            <div class="mat-body-large text-on-surface">Add more</div>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
