<mat-dialog-content
  class="rounded-[5px] p-6 bg-surface-container-lowest info-dialog-shadow"
  [ngClass]="`${width ?? 'w-[516px]'} ${height ?? 'h-auto max-h-[468px]'}`"
>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">

    <!-- Header -->
    <div class="flex justify-between items-start mb-1">
      <div class="flex flex-col gap-2">
        <mat-icon class="material-symbols-outlined text-on-surface">
          {{ icon }}
        </mat-icon>

        <div class="text-on-surface mat-title-large">
          {{ headerText }}
        </div>
      </div>

      <button type="button" mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <!-- Form content from parent -->
    <div class="flex flex-col gap-4">
      <ng-content></ng-content>
    </div>

    <!-- Footer buttons -->
    <mat-dialog-actions class="!p-0 flex justify-end gap-2 -mt-3">
      <button mat-button mat-dialog-close type="button" class="min-w-[70px]">
        {{ cancelBtnText }}
      </button>

      @if (!isLoading) {
        <button mat-flat-button color="primary" type="submit" class="min-w-[93px] rounded-full">
          {{ submitBtnText }}
        </button>
      } @else {
        <button mat-flat-button disabled type="button" class="min-w-[93px] rounded-full flex items-center gap-2">
          <mat-spinner [diameter]="16" strokeWidth="2"></mat-spinner>
        </button>
      }
    </mat-dialog-actions>

  </form>
</mat-dialog-content>
