<div class="flex flex-col w-[516px] rounded-[5px]">
  <div class="flex justify-between items-center py-5 px-6">
    <p class="mat-headline-small m-0 text-on-surface">Filter coupons</p>
    <button mat-icon-button (click)="onCancel()">
      <mat-icon class="material-symbols-outlined cursor-pointer">close</mat-icon>
    </button>
  </div>
  <mat-divider class="text-outline-variant"></mat-divider>
  <form [formGroup]="filterForm" class="flex flex-col px-4 pb-6">
    <div class="flex flex-col gap-[24px] pt-4 pr-2 pl-2">
      <div class="text-on-surface mat-body-large">Status</div>
      <div class="flex">
        <mat-chip-listbox  class="toggle-chip" [hideSingleSelectionIndicator]="true" formControlName="status" (change)="onSelectStatus($event)">
            <!-- Filter Chip 1 -->
            <mat-chip-option [value]="'active'" #chipOption>
                <div class="flex gap-[8px] h-[20px]">
                   <div class="text-on-surface">Active</div>
                </div>
            </mat-chip-option>
            <!-- Filter Chip 2 -->
            <mat-chip-option [value]="'inactive'" #chipOption>
             <div class="flex gap-[8px] h-[20px]">
               <div class="text-on-surface">Inactive</div>
            </div>
            </mat-chip-option>
        </mat-chip-listbox>
      </div>
    </div>

    <div class="flex flex-col gap-[16px] pt-4 pr-2 pl-2">
      <div class="text-on-surface mat-body-large">Items</div>
      <div class="flex">
        <mat-chip-listbox  class="toggle-chip" [hideSingleSelectionIndicator]="true" formControlName="itemConstraint" (change)="onSelectItemConstraint($event)">
            <!-- Filter Chip 1 -->
            <mat-chip-option [value]="'all'" #chipOption>
                <div class="flex gap-[8px] h-[20px]">
                   <div class="text-on-surface">All</div>
                </div>
            </mat-chip-option>
            <!-- Filter Chip 2 -->
            <mat-chip-option [value]="'specific'" #chipOption>
             <div class="flex gap-[8px] h-[20px]">
               <div class="text-on-surface">Specific</div>
            </div>
            </mat-chip-option>
        </mat-chip-listbox>
      </div>
    </div>

    <div class="flex flex-col gap-[16px] pt-4 pr-2 pl-2">
      <div class="text-on-surface mat-body-large">Discount Type</div>
      <div class="flex">
        <mat-chip-listbox  class="toggle-chip" [hideSingleSelectionIndicator]="true" formControlName="discountType" (change)="onSelectDiscountType($event)">
            <!-- Filter Chip 1 -->
            <mat-chip-option [value]="'percentage'" #chipOption>
                <div class="flex gap-[8px] h-[20px]">
                   <div class="text-on-surface">Percentage</div>
                </div>
            </mat-chip-option>
            <!-- Filter Chip 2 -->
            <mat-chip-option [value]="'fixed'" #chipOption>
             <div class="flex gap-[8px] h-[20px]">
               <div class="text-on-surface">Flat price</div>
            </div>
            </mat-chip-option>
        </mat-chip-listbox>
      </div>
    </div>
  </form>
  <mat-divider class="text-outline-variant"></mat-divider>
  <div class="flex justify-end gap-2 pt-5 pr-[24px] pb-5">
    <button mat-stroked-button class="border-outline-variant rounded-full" (click)="onClearAll()">
      Clear all
    </button>
    <button mat-flat-button class="rounded-full" (click)="onApply()">
      Apply
    </button>
  </div>
</div>