<div class="h-screen flex flex-col">
  <div class="fixed top-0 w-full z-20 h-[72px]">
    <div class="flex justify-end px-8 py-4 bg-surface-container-lowest">
      <button mat-stroked-button class="rounded-full" (click)="onExit()">
        Exit
      </button>
    </div>
    <mat-divider class="border-outline-variant"></mat-divider>
  </div>

  <div class="flex-1 pt-[72px] pb-[72px] overflow-y-auto">
    <div class="flex flex-col items-center justify-center min-h-full py-8">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div
    class="fixed bottom-0 left-0 right-0 w-full z-20 bg-surface-container-lowest h-[72px] flex flex-col justify-center"
  >
    <div class="w-full flex space-x-[8px] justify-between">
      <div class="flex-1">
        <app-progress-bar [animate]="true" [fillPercentage]="getFillPercentage1()" />
      </div>
      <div class="flex-1">
        <app-progress-bar [animate]="true" [fillPercentage]="getFillPercentage2()" />
      </div>
      <div class="flex-1">
        <app-progress-bar [animate]="true" [fillPercentage]="getFillPercentage3()" />
      </div>
    </div>

    <div class="flex justify-end items-center px-8 pt-2">
      @if(this.router.url.endsWith('invite')) {
        <div class="flex gap-3">
          <button mat-stroked-button (click)="onSkip()" class="rounded-full">
            Skip
          </button>
          <button mat-flat-button (click)="onContinue()" class="rounded-full">
            {{ getButtonText() }}
          </button>
        </div>
      } @else {
        <button mat-flat-button (click)="onContinue()" class="rounded-full">
          {{ getButtonText() }}
        </button>
      }
    </div>
  </div>
</div>
