<div class="flex flex-col gap-8 w-[560px]">
  <div class="mat-headline-small m-0 text-on-surface">Create an organisation</div>
  <form [formGroup]="createOrganizationForm" class="flex flex-col gap-8">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Organisation name</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error>Organisation name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Currency</mat-label>

      <input
        type="text"
        matInput
        formControlName="currency"
        [matAutocomplete]="currencyAuto"
        (input)="filterCurrency($event.target.value)"
        (blur)="validateCurrency()"
      />

      <mat-autocomplete #currencyAuto="matAutocomplete" (optionSelected)="onCurrencySelected($event.option.value)">
        @for (currency of filteredCurrencyList; track currency) {
          <mat-option [value]="currency.code">
            {{ currency.text }} ({{ currency.code }})
          </mat-option>
        }
      </mat-autocomplete>

      <mat-error *ngIf="createOrganizationForm.get('currency')?.hasError('required')">
        Currency is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>External Id</mat-label>
      <input matInput type="text" formControlName="externalId" />
    </mat-form-field>
  </form>
</div>
