<app-form-dialog-box [formGroup]="form" [onSubmit]="save" [dialogRefParent]="dialogRef" [icon]="'edit'"
  [headerText]="'Edit Profile'" [cancelBtnText]="'Cancel'" [submitBtnText]="'Save'" [isLoading]="userStore.isLoading()"
  width="w-[516px]" height="h-auto max-h-[564px]">

  <!-- Email -->
  <mat-form-field appearance="outline" class="w-full mt-3">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />

    <mat-error *ngIf="form.get('email')?.hasError('required')">
      Email is required
    </mat-error>
  </mat-form-field>

  <!-- Name -->
  <mat-form-field appearance="outline" class="w-full -mt-3">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />

    <mat-error *ngIf="form.get('name')?.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <!-- Section Title -->
  <div class="font-semibold mat-title-small text-on-surface-variant -mt-3 mb-2">
    Password
  </div>

  <!-- Current Password -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Current password</mat-label>

    <input matInput [type]="visibility.current ? 'text' : 'password'" formControlName="currentPassword" />

    <button type="button" mat-icon-button matSuffix class="!text-on-surface !cursor-pointer" (click)="toggleVisibility('current')"
      tabindex="-1">
      <mat-icon class="material-symbols-outlined mr-3">
        {{ visibility.current ? 'visibility' : 'visibility_off' }}
      </mat-icon>
    </button>
  </mat-form-field>

  <!-- New Password -->
  <mat-form-field appearance="outline" class="w-full -mt-3">
    <mat-label>New password</mat-label>

    <input matInput [type]="visibility.new ? 'text' : 'password'" formControlName="newPassword" />

    <button type="button" mat-icon-button matSuffix class="!text-on-surface !cursor-pointer" (click)="toggleVisibility('new')"
      tabindex="-1">
      <mat-icon class="material-symbols-outlined mr-3">
        {{ visibility.new ? 'visibility' : 'visibility_off' }}
      </mat-icon>
    </button>
  </mat-form-field>
</app-form-dialog-box>